spring:
  application:
    name: ecom-application
  datasource:
    url: jdbc:postgresql://localhost:5432/microservice-ecom
    username: postgres
    password: 123
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

#server:
#  port: 8080
#  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: beans, health
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true
  info:
    env:
      enabled: true

info:
  app:
    name: Ecom Microservice App
    description: App built by us
    version: 1.0.0