spring:
  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///C:\Users\Dell\IdeaProjects\ecom-microservice\configuration management\FileBased\configserver\src\main\resources\config   #or provide full file path if using external config dir
server:
  port: 8222

#management:
#  endpoints:
#    web:
#      exposure:
#        include: refresh