spring:
  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config   #or provide full file path if using external config dir
server:
  port: 8222
