server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/products/**
            - id: order-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/orders/**,/api/cart/**
            - id: user-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/users/**

management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0