# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore MinIO and Loki data directories
additional/evaluate-loki/
additional/evaluate-prometheus/

# Ignore log files
*.log
Logs/